node_modules/
vendor/
.env
.env.local
.DS_Store
*.log
/dist
/build
/.idea
*.sqlite
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
public/hot
public/storage
storage/*.key
.phpunit.result.cache
